{% extends "base.html" %} 
{% block content %}
<section class="header">
    <h1>退款申请</h1>
</section>

<div class="clearfix"></div>
<div class="well">
    <div class="form-inline r-mb15 inline-block pull-right">
        <div class="form-group">
            <input id="search-uuid" type="text" placeholder="UUID" class="form-control">
            <button onClick="doSearch()" class="r-m5 btn btn-primary">搜索</button>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover" width="100%">
        <thead>
            <tr>
                <th>退款UUID</th>
                <th>支付单UUID</th>
                <th>退款理由</th>
                <th>退款状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for refund in refunds %}
            <tr>
                <td>{{refund.payment_refund_uuid}}</td>
                <td>{{refund.payment_uuid.payment_uuid}}</td>
                <td>{{refund.refund_reason}}</td>
                <td>{{refund.refund_status}}</td>
                <td>{{refund.create_time|date:"Y-m-d H:i:s.T"}}</td>
                <td style="text-align: center;">
                    <div class="dropdown">
                        <span class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <a href dropdown-toggle>
                                <i class="fa fa-ellipsis-h" aria-hidden="true" style="color:gray;"></i>
                            </a>
                        </span>
                        <ul class="dropdown-menu operation-dropdown" style="min-width: 80px;">
                            <li><a href="/cms/refund/{{refund.payment_refund_uuid}}/detail/">查看详情</a></li>
                            <li><a href="/cms/refund/{{refund.payment_refund_uuid}}/record/">处理记录</a></li>
                        </ul>
                    </div>    
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">暂无数据</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container-paginatio text-center">
        <a href="/cms/payment/refund/?page={{refunds.number|add:-1}}" class="btn btn-sm btn-default {{page_info.pre|yesno:' ,disabled, '}}">上一页</a>
        <a href="/cms/payment/refund/?page={{refunds.number|add:1}}" class="btn btn-sm btn-default {{page_info.next|yesno:' ,disabled, '}}">下一页</a>
    </div>
</div>
{% block extend-js %}
<script>
    function doSearch() {
        var uuid = $('#search-uuid').val();
        window.location.href="/cms/payment/refund/?search="+uuid; 
    }
</script> 
{% endblock %} 
{% endblock %}